@import '@/assets/scss/_variables.scss';
@import '@/assets/scss/rules.scss';

.slide-container {
  height: 100vh;
  border-top: 1px solid #e8554e;
  border-bottom: 1px solid #e8554e;
  
  .swiper {
    height: 100vh;
  }

  @media (max-width: 768px) {
    & {
      height: calc(100vh - 300px);

      .swiper {
        height: calc(100vh - 300px);
      }
    }
  }

  .slide {
    position: relative;
    display: block;
    height: 100%;

    :global {
      .ant-image {
        width: 100%;
        height: 100%;
      }
    }

    .image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      z-index: 1;
    }

    &.overlay::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 2;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 70%;
      transform: translate(-50%, -50%);
      z-index: 3;

      .prefix {
        * {
          color: $white-color;
          font-size: 1.8rem;
          font-weight: 900;
        }

        span {
          margin-left: 0.5rem;
        }
      }

      .title {
        color: $white-color;
        font-size: 8rem !important;
        font-style: 900;
        text-align: center;
        letter-spacing: 0.2rem;
        text-shadow:
          -4px 3px 0 #484848,
          -8px 6px 0 #1c1d24;
        margin: 1rem 0 0;
      }

      .description {
        color: $white-color;
        text-align: center;
        font-size: 3.2rem;
        font-weight: bold;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 1.5rem;
      }
    }

    @media (max-width: 768px) {
      .content {
        min-width: 90%;

        .title {
          font-size: 3rem !important;
        }
      }
    }
  }
}
