@import '@/assets/scss/_variables.scss';
@import '@/assets/scss/rules.scss';

.locale {
    @include flex-variant(start, center, row);
    color: $white-color;    
    line-height: 40px;

    .title {
        color: $white-color;    
        margin: 0 .5rem;
    }
}