@import '@/assets/scss/_variables.scss';
@import '@/assets/scss/rules.scss';

.header {
    .topbar {
        background: $bg-topbar;
        height: 40px;
        
        & > div {
            height: 100%;
        }

        .inner {
            width: 100%;
            height: 100%;
        }
    }
}