.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table {
  min-height: 80vh;
}

.card {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 104px !important;
  height: 350px;
  margin-top: 2.4rem !important;

  .card-item {
    margin-bottom: 1.5rem;
  }
}

.content {
  margin-left: 2rem;

  a {
    font-weight: bold;
  }

  & > a,
  & > h1 {
    margin: 0.5rem;
  }

  & > h1:last-child {
    color: gray;
  }
}
