.title {
  font-size: 3.2rem !important;
  font-weight: bold;
}

.date {
  color: grey !important;
  font-size: 2rem !important;
  font-style: italic;
}

.look {
  margin-bottom: 5rem;
}

.slide {
  position: relative;
  height: 800px;

  :global {
    .ant-image {
      width: 100%;
      height: 100%;
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 800px !important;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
  }
}
